
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <ion-tab title="Lunes" icon-off="monday-off" icon-on="monday-on" href="#/tab/monday">
    <ion-nav-view name="tab-monday"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Martes" icon-off="tuesday-off" icon-on="tuesday-on" href="#/tab/tuesday">
    <ion-nav-view name="tab-tuesday"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Miercoles" icon-off="wednesday-off" icon-on="wednesday-on" href="#/tab/wednesday">
    <ion-nav-view name="tab-wednesday"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Jueves" icon-off="thursday-off" icon-on="thursday-on" href="#/tab/thursday">
    <ion-nav-view name="tab-thursday"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Viernes" icon-off="friday-off" icon-on="friday-on" href="#/tab/friday">
    <ion-nav-view name="tab-friday"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Sabado" icon-off="saturday-off" icon-on="saturday-on" href="#/tab/saturday">
    <ion-nav-view name="tab-saturday"></ion-nav-view>
  </ion-tab>

</ion-tabs>
